.header {
  padding: 40px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #141414;
  padding: 10px 20px;
  display: block;
}

.header-menu a:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
  transition: 0.3s;
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    padding: 20px 0;
    gap: 30px;
  }

  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background-color: #f7f7f7;
  }

  .header-menu a:hover {
    background-color: #e7e7e7;
    transition: 0.3s;
  }
}
